:root{
  --primaryColor : '#2355FC';
  --secondaryColor : '#CDCDCD29';
}
/*============================== App =================================*/
.app{
  position: relative;
  height: 100vh;
  width: 100vw;
}
/*============================== Header =================================*/
.logo{
  height: 2rem;
  width: 6rem;
  margin: 3rem 0rem 1rem 5rem;
}
.step-name{
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.01px;
  color: #FFFFFF;
  text-align: center;
  background-color: #08123B;
  width: 100%;
  padding: 3rem 0rem;
}
/*============================== StepOne =================================*/
.step-container{
  margin: auto;
  width: 50%;
}
.form{
  width: 100%;
  padding: 1rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.dropdown{
  width: 100%;
  margin-bottom: 2.5rem !important;
}

.text-box-small{
  width: 48%;
  margin-bottom: 2.5rem !important;
}

.text-box-large{
  width: 100%;
  margin-bottom: 2.5rem !important;
}

.button{
  border-radius: 1px !important;
  width: 90%;
  margin: auto !important;
  display: block !important;
}
/*============================== StepTwo =================================*/
.journey-details-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2.5rem 1rem;
  border-bottom: 1px solid rgb(0,0,0,.1);
}

.journey-details-header{
  width: 90%;
  color: #010A10;
  font-weight: 600;
  opacity: 0.4;
}
.journey-details-edit-button{
  width: 10%;
  color: #0F53FB;
  font-weight: 600;
  cursor: pointer;
}
.journey-details-source-destination-container{
  width: 100%;
}
.journey-details-source-destination{
  width: 40%;
  color: #010A10;
  font-weight: 600;
}
.bid-details-source-destination{
  width: 40%;
  color: #010A10;
  font-weight: 600;
}

.fixed-price-container{
  font-size: 2.5rem;
}
.fixed-price-amount{
  font-size: 3rem;
}

.fixed-price-text{
  font-size: 1.3rem;
}

.textbox-bidding-amount-container{
  width: max-content;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.textbox-bidding-amount-container i{
  font-size: 3.5rem;
  margin-right: .8rem;
}
.textbox-bidding-amount{
  font-size: 2.5rem;
  font-weight: 700;
  width: 10rem;
  outline: none;
  border: none;
  color: rgb(0,0,0,.6);
}

.checkbox-container{
  width: max-content;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
input[type="checkbox"]{
  height: 1rem;
  width: 1rem;
  margin-right: .5rem;
  margin-bottom: -.5rem;
}

.get-updates-checkbox-container{
  width: 96%;
  padding: 1rem;
  background-color: rgb(0,0,0,.1);
  margin-bottom: 1rem;
  border-radius: 5px;
}

/*============================== StepThree =================================*/
.otp-inputs-container{
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.otp-textbox{
  text-align: center;
  width: 3rem;
  font-size: 3rem;
  font-weight: 700;
  border: none;
  outline: none;
  color: rgb(0,0,0,.7);
  border-bottom: 3px solid rgb(0,0,0,.1);

}

/*============================== StepFour =================================*/
/*============================== Loader =================================*/
.loader-container{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(0,0,0,.5);
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader{
  display: flex;
}
.loader-dot{
  height: 1rem;
  width: 1rem;
  background-color: rgba(19, 19, 167, 0.815);
  border-radius: 50%;
  margin: .5rem;
}

.loader-dot-1{
  animation: animate-loader-dot .3s linear 0s infinite;
}
.loader-dot-2{
  animation: animate-loader-dot .4s linear 0s infinite;
}
.loader-dot-3{
  animation: animate-loader-dot .5s linear 0s infinite;
}

@keyframes animate-loader-dot {
  50%{transform: scale(1.3);}
}

/*============================== NotFound =================================*/
.not-found-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.not-found-message{
  text-align: center;
  font-size: 4rem;
  width: 100%;
}

.not-found-button{
  font-size: 2rem;
}


@media (max-width : 600px){
  .logo{
    height: 2rem;
    width: 5rem;
    margin: 1rem 0rem 1rem 3rem;
  }
  .step-name{
    font-size: 25px;
  }

  .step-container{
    width: 100%;
  }



  .form{
    width: 90%;
  }

  .journey-details-source-destination{
    width: 80%;
  }


  .get-updates-checkbox-container{
    width: 90%;
  }


  .otp-inputs-container{
    width: 80%;
  }

  .bid-details-source-destination{
    width: 60%;
  }
  .fixed-price-container{
    font-size: 1.9rem;
  }
  .fixed-price-amount{
    font-size: 2rem;
  }
  
  .fixed-price-text{
    font-size: .9rem;
  }
}